.output-format-options {
    width: 80%;
    position: absolute;
    top: 2.4rem;
    border-width: 0.3rem;
    border-style: solid;
    border-color: rgb(142, 203, 250);
}

.option-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(142, 203, 250);
}