.footer-message {
    font-weight: bold;
    color: #545e6f;
    margin: 0.3rem 0.5rem;
}

.footer-contact {
    color: #545e6f;
    margin: 0 0.5rem;
}

.footer-copyright {
    color: #545e6f;
    margin: 1rem 0.5rem;
}